TG_API_ID=xxxxxxxx
TG_API_HASH=xxxxxxxx
TG_SESSION_NAME=sesi_scraper
DEEZLOAD_DOWNLOAD_DIR=../../downloads
DEEZLOAD_INTERNAL_SECRET=isi-random-string-panjang
DEEZLOAD_MAX_CONCURRENT=3
DEEZLOAD_SELF_HOST=127.0.0.1
DEEZLOAD_SELF_PORT=8001